<!doctype html>
<html ng-app="todolistApp">
<head>
	<title>Todolist</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="styles/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-inverse" role="navigation">
  		<div class="container">
		    <div class="navbar-header">
				<a class="navbar-brand" href="#">Todolist</a>
		    </div>  		
		</div>
	</nav>

	<div class="container" ng-controller="MainController as mainCtrl"> 
	<div class = "row">
		<div class="col-md-2">
			<h3 class="text-muted">Projects</h3>
			<div class="row">
				<div ng-repeat="action in mainCtrl.getProjects()" >
					<button type="button" class="btn btn-default btn-block" ng-click="mainCtrl.clickProject(action.project)">{{action.project}}
						<span class="badge">{{action.count}}</span>
					</button>				
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-7">
			<!--div ng-include="mainCtrl.missionTemplate"></div-->
			<div ng-include src="'_mission.html'"></div>
		</div>
	</div>

	<script src="lib/angular.min.js"></script>
	<script src="app/app.module.js"></script>
	<script src="app/services/todolist.service.js"></script>
	<script src="app/controllers/todolist.controller.js"></script>
	<script type="text/ng-template" id="display">
        <td><strong><div ng-bind="{{$index + 1}}"></div></strong></td>
		<td ><div ng-bind="mission.text"></div></td>
		<td>
      		<input type="button" value="Edit" class="btn btn-warning btn-small" ng-click="mainCtrl.editMission(mission)">
      		<input type="button" value="Delete" class="btn btn-danger btn-small" ng-click="mainCtrl.deleteMission($index)">              		
		</td>
    </script>
    <script type="text/ng-template" id="edit">
        <td><strong><div ng-bind="{{$index + 1}}"></div></strong></td>
		<td ><input type="text" ng-model="mainCtrl.editMission.text"></td>
		<td>
      		<input type="button" value="Save" class="btn btn-warning btn-small" ng-click="mainCtrl.saveMission($index)">
      		<input type="button" value="Cancel" class="btn btn-danger btn-small" ng-click="mainCtrl.cancelMission()">              		
		</td>
    </script>
	<script type="text/ng-template" id="_mission.html">
		<h2 class="text-muted" ng-bind="mainCtrl.getProject()"></h2>
		<table id="todolistTable" class="table">
			<tbody>
				<tr ng-repeat="mission in mainCtrl.getMissions()" ng-include="mainCtrl.getTemplate(mission)">
				</tr>
			</tbody>
		</table>

		<div ng-show="mainCtrl.showMissionInput()">
			<div class="form-group">
				<input type="text" ng-model="mainCtrl.newMission.text" placeholder="What needs to be done? " class="form-control" ng-keyup="mainCtrl.addMission($event)">
			</div>
		</div>
		<div ng-show="!mainCtrl.showMissionInput()">
			
			<h3 class="text-muted">If your goal is to spend as little time as possible organizing and more time doing, Todolist offers the simplicity you're looking for.</h3><br>

			<div class="form-group">
				<input type="text" ng-model="mainCtrl.newProject.text" placeholder="Do you want to create a new project?" class="form-control" ng-keyup="mainCtrl.addProject($event)">
			</div>
		</div>
	</script>
</body>
</html>